@charset "utf-8";

@import url("../../fonts/poppins/stylesheet.css");

@import "../../libs/scss/globals/_reset.scss";

.block-wrap {
    position: relative; width:calc(100vw - 20vh); height: 80vh; margin: 10vh auto; 
    background-color:gray; overflow: hidden;
}
.svg-cover{
    position: absolute; width: 100%; height:100%; z-index: 1;
}
.polymorph{
    fill:black; 
}

#btn-1-active,#btn2{
    position: absolute;
    margin: 10em auto 0 auto;
    background-color: #fff; border:0;
    padding: 15px; color: #000; font-size: 1.5em;
    cursor: pointer; outline: 0; z-index: 10;
}
#btn-1-active {
    width: 200px; top: 10vh; left: 20vw; 
}

p{ font-size: 1.2em;}
#btn2{
    width: auto; margin: 30px auto;
    background: #ffba08;
}
#blip{
	font-family:sans-serif;
    position: absolute; z-index: 10;
    color: #ffba08;
    right: 25%; top: 0; opacity: 0; width: 30%;
    transform: translateY(-800px);
}
.block-wrap.second{
    background-color:#ffd000;
    svg {
        fill: #f06;
        fill: url(#MyGradient);
    }
}
